modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39693542

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py collectstatic --noinput && python manage.py migrate && python manage.py runserver 0.0.0.0:3000"

[[ports]]
localPort = 3000
externalPort = 80
